<h1 Align="center">Products in <%= @company.name %></h2>
    
<table>
    <tr>
        <th>Products details</th>
     </tr>
     
<% for item in @items %>
    <tr>
<div class="homecont">
    
    <div class="one"> 
    
       <h1> <%= link_to item.name %> </h1>
    </div>
    
    <div class="two">
        <h1> <%= link_to (image_tag item.image, :style => "height:150px") %> </h1>
    </div>
    
    <div class="three">
        <%= item.description %>
    </div>
</div>
        
            
        <td><%= link_to 'Show', company_item_path(@company, item) %></td>
        <td><%= link_to 'Edit', edit_company_item_path(@company, item) %></td>
        <td><%= link_to 'Destroy', company_item_path(@company, item), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
</table>
<br />
<%= link_to 'New Item', new_company_item_path(@company) %>
<%= link_to 'Back to the company', @company %>