<h2 align="center">Products in <%= @company.name %></h2>
<p>
    
    <b>Products details:</b>
  
        <p> Name: <%= @item.name %> </p>
        <p> Description: <%= @item.description %> </p>
        <p> Specificacion: <%= @item.specification %> </p>
        <p> Category: <%= @item.category %> </p>
        <p> Price: <%= @item.price %> </p>
   
        
<%= link_to 'Buy' %>
           


<div class="new-company-button"> 

<%= link_to 'Edit', edit_company_item_path(@company, @item)%>
<%= link_to 'Back', company_items_path%>
</div>