<h2 align="center">Products in <%= @company.name %></h2>
<p>
    
    <b>Products details:</b>
    
<ul class="homecont-list">
    <li>
        <div class="homecont"> 
    
            <div class="one"> 
                <%= @item.name %>
            </div>
            
            <div class="two">
                <%= @item.image %>
            </div>
            
            <div class="three">
              <%= @item.price %>
             </div> 
            
        </div>
    </li>
</ul>


<div class="new-company-button"> 

<%= link_to 'Edit', edit_company_item_path(@company, @item)%>
<%= link_to 'Back', company_items_path%>
</div>